@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
/* SCSS Gradient */
body {
  margin: 0px !important;
  font-family: "Titillium Web", sans-serif;
}

.container {
  width: 80%;
  margin: 5px auto;
}
@media only screen and (max-width: 630px) {
  .container {
    width: auto;
    margin: 0px;
  }
}

.containerModal {
  width: 30%;
  margin: 5px auto;
}
@media only screen and (max-width: 630px) {
  .containerModal {
    width: 80%;
  }
}

main {
  min-height: 75vh;
  background-color: snow;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: snow;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
}
.header .logo {
  padding: 10px;
}
.header .logo img {
  width: 100px;
  cursor: pointer;
}
@media only screen and (max-width: 630px) {
  .header .logo img {
    width: 50px;
  }
}
.header .links a {
  text-decoration: none;
  margin: 12px;
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 630px) {
  .header .links a {
    font-size: 18px;
  }
}
.header .links a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.header .links .menu-icon {
  font-size: 40px;
}

.footer {
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: space-around;
  background: #fdcff3ff;
  z-index: 10;
  color: white;
}
@media only screen and (max-width: 630px) {
  .footer {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
}
.footer .logo {
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin-top: 0.25%;
}
@media only screen and (max-width: 630px) {
  .footer .logo {
    margin-top: 6%;
  }
}
.footer .logo img {
  max-width: 145px;
  max-height: 145px;
  border-radius: 20px;
}
@media only screen and (max-width: 630px) {
  .footer .logo img {
    width: 100%;
  }
}
.footer .footer-sections-container {
  width: 100%;
}
.footer .footer-columnHead {
  font-weight: 700;
  color: #40434eff;
}
.footer .MuiListItem-root {
  padding-left: 0px;
}
.footer .MuiTypography-root {
  color: #de89beff;
  text-decoration: none;
}
.footer .MuiTypography-root:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer svg {
  color: #fff;
  cursor: pointer;
}
.footer .main-Section-Footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.6%;
}
@media only screen and (max-width: 630px) {
  .footer .main-Section-Footer {
    flex-direction: column;
    padding-left: 85px;
    margin-bottom: 20px;
  }
}
.footer .footer-divider {
  margin-left: 27%;
  margin-right: 20%;
}
@media only screen and (max-width: 630px) {
  .footer .footer-divider {
    margin: 0px;
  }
}
.footer .secondary-Section-Footer {
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  justify-content: space-evenly;
  align-self: center;
  padding-bottom: 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 630px) {
  .footer .secondary-Section-Footer {
    padding-left: 0px;
  }
}
.footer .secondary-Section-Footer .footer-copyright-message-div {
  margin-top: 17px;
}
.footer .secondary-Section-Footer .footer-copyright-message {
  color: #40434eff;
  text-align: center;
  margin: 0;
}
.footer .secondary-Section-Footer .MuiListItem-root {
  padding-left: 0px;
  margin: 0px 20px;
}
.footer .secondary-Section-Footer .MuiListItem-root .MuiTypography-root {
  color: #c297b8ff;
}
.footer .secondary-Section-Footer .icon {
  margin-top: 20px;
  text-align: center;
  margin-right: 10px;
}
@media only screen and (max-width: 630px) {
  .footer .secondary-Section-Footer .icon {
    margin-right: 0px;
  }
}
.footer .secondary-Section-Footer .icon svg {
  color: #de89beff;
  cursor: auto;
  width: 2em;
}
.footer .navigation-footer {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-top: 7.5px;
}
@media only screen and (max-width: 630px) {
  .footer .navigation-footer {
    flex-direction: column;
    display: none;
  }
}
.footer .navigation-footer a {
  color: #de89beff !important;
}

.formContactHome {
  background-color: #fdcff3ff;
  border-radius: 5px;
  padding: 5px 5% 5px 5px;
}
.formContactHome button {
  width: 98%;
  box-shadow: none;
  margin: 5px;
  background-color: #de89beff !important;
  color: white !important;
}
.formContactHome button:hover {
  background-color: #c297b8ff !important;
}
.formContactHome .filter-title {
  background-color: #c297b8ff;
  text-align: center;
}
.formContactHome .filter-element {
  text-align: center;
}

.containerModal {
  width: 30%;
  margin: 5px auto;
}
@media only screen and (max-width: 630px) {
  .containerModal {
    width: 80%;
  }
}

.errorsModal {
  padding: 5px;
  border-left: 10px solid #c297b8ff;
  background-color: #fdcff3ff;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #40434eff;
  font-weight: bold;
}

.tarjetas {
  margin: 100px 0px;
}
.tarjetas .rotate {
  left: 100px;
  transform: rotate(-45deg);
  position: absolute;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: snow;
  text-shadow: 1px 2px #070707ff;
}
@media only screen and (max-width: 1280px) {
  .tarjetas .rotate {
    transform: rotate(-45deg);
    position: relative;
    left: -73px;
    font-family: "Anton", sans-serif;
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .tarjetas .rotate {
    transform: rotate(-45deg);
    position: relative;
    top: -53px;
    left: -156px;
    font-family: "Anton", sans-serif;
    font-size: 30px;
  }
}
.tarjetas .panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Krona One", sans-serif;
  background: linear-gradient(90deg, #c297b8ff, #fdcff3ff, #de89beff);
}
.tarjetas .panel a {
  text-decoration: none;
  color: snow;
  text-shadow: 1px 2px #070707ff;
}

.tarjeta {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 300px;
  height: 324px;
  margin: 20px;
  background-color: #de89beff;
  border-radius: 15px;
  padding: 8px;
}
.tarjeta p {
  text-align: center;
  color: snow;
  text-shadow: 1px 2px #070707ff;
}
.tarjeta img {
  width: 100%;
}

.feed .titleFeed {
  font-size: 25px;
  font-style: italic;
}
.feed .tarjetas {
  display: flex;
}

.feedShow .titleFeed {
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.about {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
@media only screen and (max-width: 630px) {
  .about {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    -webkit-text-stroke-width: thin;
  }
}
.about svg {
  color: #40434eff;
  float: left;
}

.about-title {
  margin: 0 auto !important;
  text-align: center;
  color: #de89beff;
}
.about-title h1 {
  margin: 0 15px;
}
