//imports
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #898787;
$black: #000000;

$color-primary-0: #FF9D4C;	// Main Primary color */
$color-primary-1: #FFCA9D;
$color-primary-2: #FFB170;
$color-primary-3: #FF8927;
$color-primary-4: #E36802;
$color-primary-5: #fde3ce;

//colores solicitados
$color-primary-6: #f4f4f4db;
$color-primary-7: #14979e;
$color-primary-8: #f3f4f6;
$color-primary-9: #dad7d7;

$color-secondary-1-0: #5C4FC9;	// Main Secondary color (1) */
$color-secondary-1-1: #A59CEA;
$color-secondary-1-2: #7B70D9;
$color-secondary-1-3: #4031BA;
$color-secondary-1-4: #25169E;

$color-secondary-2-0: #A4EF47;	// Main Secondary color (2) */
$color-secondary-2-1: #CEF99A;
$color-secondary-2-2: #B6F46B;
$color-secondary-2-3: #91EB24;
$color-secondary-2-4: #73CF02;
